.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav nav nav nav nav nav nav nav nav nav nav"
        "aside aside clasificación clasificación clasificación clasificación clasificación clasificación clasificación section section"
        "aside aside clasificación clasificación clasificación clasificación clasificación clasificación clasificación section section"
        "aside aside clasificación clasificación clasificación clasificación clasificación clasificación clasificación section section"
        "aside aside clasificación clasificación clasificación clasificación clasificación clasificación clasificación section section"
        "aside aside clasificación clasificación clasificación clasificación clasificación clasificación clasificación section section"
        "aside aside clasificación clasificación clasificación clasificación clasificación clasificación clasificación section section"
        "footer footer footer footer footer footer footer footer footer footer footer";
}

.nav {
    grid-area: nav;
    background-color: black;
    border-bottom: 3px solid gold; /* Bordes dorados */
    z-index: 1000;
    top: 0;
    left: 0;
}

.clasificación {
    grid-area: clasificación;
}

.section {
    grid-area: section;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

/* PÁGINA ENTERA - VISIBILIDAD DE LA PÁGINA EN VARIOS DISPOSITIVOS */

/* 1- Media queries para hacer la página responsive */

/* Tablets (pantallas medianas) */
@media (max-width: 768px) {
  .container {
      grid-template-areas:
          "nav"
          "header"
          "main"
          "aside"
          "footer";
      grid-template-columns: 1fr;
  }

  .nav {
      flex-direction: column;
      text-align: center;
  }
}

/* Móviles (pantallas pequeñas) */
@media (max-width: 480px) {
  body {
      font-size: 14px;
  }

  .nav {
      font-size: 12px;
  }

  .main {
      padding: 10px;
  }

  form h4 {
      font-size: 18px;
  }

  label {
      font-size: 14px;
  }

  input[type="submit"] {
      font-size: 14px;
      padding: 5px 10px;
  }
}


/* PÁGINA ENTERA - Para el contenido de la página web */

  /* 1- Estilos para el fondo de la página */
  body {
    background-image: url(https://img.pikbest.com/backgrounds/20190516/original-golden-yellow-golden-particles-black-gold-simple-background-image_2826230.jpg!w700wp);
    background-position: center; /* Centra la imagen de fondo */
    background-size: cover; /* Escala la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0; /* Sin margen */
  }

table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid black;
}

th {
  background-color: black;
  color: gold;
}

th, td {
  padding: 15px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: whitesmoke;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(2) {
  background-color: gold;
  border: 1.5px solid black;
}

tr:nth-child(2):hover {
  border: 1.5px solid black;
  background-image: url(https://wallpapers.com/images/hd/black-and-gold-marbled-pattern-braf6aljfnikb27d.jpg);
  background-size: cover;
  background-position: center;
  color: gold;
}

tr:nth-child(3) {
  background-color: silver;
  border: 1.5px solid black;
}

tr:nth-child(3):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-gris-blanco-degradado_53876-62619.jpg?semt=ais_hybrid);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(4) {
  background-color: #cd7f32;
  border: 1.5px solid black;
}

tr:nth-child(4):hover {
  border: 1.5px solid black;
  background-image: url(https://wallpapers.com/images/hd/bronze-background-j0qupqmkk9k1sapd.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Retirado */

tr:nth-child(10):hover {
  border: 1.5px solid black;
  background-image: url(https://images.unsplash.com/photo-1632349069255-3b55e28e6a49?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTV8fHxlbnwwfHx8fHw%3D);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Bayer 04 Leverkusen */

tr:nth-child(13):hover {
  border: 1.5px solid black;
  background-image: url(https://st.depositphotos.com/1074550/1734/i/450/depositphotos_17341511-stock-photo-abstract-luminous-red-and-black.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

tr:nth-child(17):hover {
  border: 1.5px solid black;
  background-image: url(https://st.depositphotos.com/1074550/1734/i/450/depositphotos_17341511-stock-photo-abstract-luminous-red-and-black.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

tr:nth-child(29):hover {
  border: 1.5px solid black;
  background-image: url(https://st.depositphotos.com/1074550/1734/i/450/depositphotos_17341511-stock-photo-abstract-luminous-red-and-black.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Manchester City */

tr:nth-child(6):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/rayo-radial-azul-cielo-degradado-fondo-abstracto_76000-8607.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(12):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/rayo-radial-azul-cielo-degradado-fondo-abstracto_76000-8607.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(24):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/rayo-radial-azul-cielo-degradado-fondo-abstracto_76000-8607.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

/* Athletic Club */

tr:nth-child(16):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/elegante-textura-trazo-pincel-acuarela-roja_1017-14836.jpg);
  color: black;
}

/* Arsenal FC */

tr:nth-child(20):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-blanco-patron-indonesia_773912-22.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(22):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-blanco-patron-indonesia_773912-22.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(25):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-blanco-patron-indonesia_773912-22.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(27):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-abstracto-blanco-patron-indonesia_773912-22.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

/* Inter de Milán */

tr:nth-child(8):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-azul-degradado_23-2149331354.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

tr:nth-child(21):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-azul-degradado_23-2149331354.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Bayern de Munich */

tr:nth-child(11):hover {
  border: 1.5px solid black;
  background-image: url(https://images.unsplash.com/flagged/photo-1593005510509-d05b264f1c9c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  color: white;
}

/* FC Barcelona */

tr:nth-child(9):hover {
  border: 1.5px solid black;
  background-image: url(https://t4.ftcdn.net/jpg/03/24/27/39/360_F_324273931_hqjUf6iVkOSY0EMB5RvyxsN5N8PGC6oj.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

tr:nth-child(14):hover {
  border: 1.5px solid black;
  background-image: url(https://t4.ftcdn.net/jpg/03/24/27/39/360_F_324273931_hqjUf6iVkOSY0EMB5RvyxsN5N8PGC6oj.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Chelsea FC */

tr:nth-child(26):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-ondulado-oscuro-digital_23-2148388249.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Atalanta BC */

tr:nth-child(15):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-papel-tapiz-colorido-borroso-artistico_58702-8340.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Aston Villa FC */

tr:nth-child(19):hover {
  border: 1.5px solid black;
  background-image: url(https://images.unsplash.com/photo-1617957689187-997a52cd5e76?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D);
  background-size: cover;
  background-position: center;
  color: white;
}

/* Real Madrid CF */

tr:nth-child(5):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-fondo-blanco-formas-lineas-doradas_1017-27145.jpg?semt=ais_hybrid);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(7):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-fondo-blanco-formas-lineas-doradas_1017-27145.jpg?semt=ais_hybrid);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(18):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-fondo-blanco-formas-lineas-doradas_1017-27145.jpg?semt=ais_hybrid);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(23):hover {
  border: 1.5px solid black;
  background-image: url(https://img.freepik.com/vector-gratis/hermoso-fondo-blanco-formas-lineas-doradas_1017-27145.jpg?semt=ais_hybrid);
  background-size: cover;
  background-position: center;
  color: black;
}

/* Paris Saint-Germain */

tr:nth-child(28):hover {
  border: 1.5px solid black;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201215/pngtree-red-and-blue-gradient-low-poly-light-effect-background-image_509029.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

/* AS Roma */

tr:nth-child(30):hover {
  border: 1.5px solid black;
  background-image: url(https://static.vecteezy.com/system/resources/previews/006/349/420/non_2x/wallpaper-background-gradient-with-red-and-yellow-color-free-photo.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

tr:nth-child(31):hover {
  border: 1.5px solid black;
  background-image: url(https://static.vecteezy.com/system/resources/previews/006/349/420/non_2x/wallpaper-background-gradient-with-red-and-yellow-color-free-photo.jpg);
  background-size: cover;
  background-position: center;
  color: black;
}

img.team-logo {
  height: 1.5em;
  vertical-align: middle;
  margin-left: 10px;
}

/* NAV - Barra de navegación */

  /* 1- Estilos para la lista de navegación */
  ul {
    list-style-type: none; /* Sin puntos de lista */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita que los elementos floten fuera del contenedor */
    background-color: black;
  }

  /* 2- Estilos para los elementos de la lista */
li {
  list-style-type: none;
  float: left; /* Flota a la izquierda */
  background-color: black;
}

  /* 3- Estilos para los enlaces de navegación */
  li a {
    display: block; /* Bloque de visualización */
    color: gold;
    text-align: center;
    padding: 14px 16px; /* Padding interno */
    text-decoration: none; /* Sin subrayado */
  }

  /* 4- Estilos para los enlaces al pasar el ratón */
  li a:hover:not(.active) {
    background-color: gold;
    color: black;
  }

  /* 5- Estilos para el enlace activo */
  .active {
    background-color: gold;
    color: black;
  }

  /* NAV - Eliminar los puntos de la barra de navegación */

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    list-style-type: none;
}


  #Clasificación:hover #Clasificación-content {
    display: block;
  }

/* CLASIFICACIÓN - Tabla */

.segundo {
    color: silver;
}
.tercero {
    color: #CE8946;
}

h2 {
  color: gold;
  text-shadow: 3px solid black;
}