/* PÁGINA ENTERA - VISIBILIDAD DE LA PÁGINA EN VARIOS DISPOSITIVOS */

/* 1- Media queries para hacer la página responsive */

/* Tablets (pantallas medianas) */
@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "nav"
            "header"
            "main"
            "aside"
            "footer";
        grid-template-columns: 1fr;
    }
  
    .nav {
        flex-direction: column;
        text-align: center;
    }
  }
  
  /* Móviles (pantallas pequeñas) */
  @media (max-width: 480px) {
    body {
        font-size: 14px;
    }
  
    .nav {
        font-size: 12px;
    }
  
    .main {
        padding: 10px;
    }
  
    form h4 {
        font-size: 18px;
    }
  
    label {
        font-size: 14px;
    }
  
    input[type="submit"] {
        font-size: 14px;
        padding: 5px 10px;
    }
  }
  

/* Reseteo de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo para el body */
body {
    background-image: url('https://img.asmedia.epimg.net/resizer/v2/YNDBZXA4QZCWZD4GN6BLQQP43I.jfif?auth=ad7c1f66c15ffa3fa77e2d53ab1f51375ce4f11dc2729ca61674a56b0be90ae8&width=1472&height=1104&focal=474%2C645');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal del login */
.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Título */
.login-container h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

/* Grupo de inputs */
.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

/* Etiquetas */
.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

/* Campos de texto */
.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Botón de inicio de sesión */
.input-group button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Cambio de color al pasar el cursor sobre el botón */
.input-group button:hover {
    background-color: white;
    color: red ;
    border: 1px solid black;
}

/* Enlace de registro */
.register-link {
    display: block;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
}

/* Cambio de color al pasar el cursor sobre el enlace */
.register-link:hover {
    text-decoration: underline;
}